 html {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        color: white;
      }
      body {
        background-color: darkblue;
      }
     
      h1 {
        font-size: 80px;
        padding: 10px;
          text-align: center;
          
          
      }
        .content {

            display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
        }
